{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1 class="text-center my-3">Playlist App</h1>

    <div class="row">
        <div class="col text-center p-3">
            This site is a demo App to generate Playlist via the Spotify Api. You can generate as much playlist as you want
            and tag it with different genres. Search the App for your favorite playlist like share and vote them.
        </div>
    </div>
    <div class="row my-3">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Playlists</h5>
                    <p class="card-text">
                        Create your favorite playlists and sort them in different genres. You can share them with other
                        members of the playlist community to like and share them.
                    </p>
                </div>
            </div>

        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Songs</h5>
                    <p class="card-text">
                        Search for millions of songs in the Spotify Api and create your Playlists out of the box.
                    </p>
                </div>
            </div>
        </div>
    </div>

    {% if app.user is null %}
        <div class="card bg-light p-3 my-3">
            <div class="container">
                <h2 class="mb-3">Registration</h2>
                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}
                    <div class="row">
                         <div class="col-12 col-md-6">
                            {{ form_row(registrationForm.firstname) }}
                        </div>
                        <div class="col-12 col-md-6">
                            {{ form_row(registrationForm.lastname) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            {{ form_row(registrationForm.username) }}
                        </div>
                        <div class="col-12 col-md-6">
                            {{ form_row(registrationForm.email) }}
                        </div>
                    </div>
                    {{ form_row(registrationForm.plainPassword) }}
                    <div>I agree to the term sof the company Playlists and give all my data to them.</div>
                    {{ form_row(registrationForm.agreeTerms) }}

                    <button type="submit" class="btn btn-primary">register</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>

    {% endif %}

{% endblock %}
